<meta charset="UTF-8" />
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style/index.css">
<link rel="shortcut icon" type="image/png" href="/assets/images/icon.png"/>
