<!doctype html>
<html lang="en">
<head>
  {{> meta}}
</head>
<body>
  <header>
    <p>
      <a href="/">Home</a>
    </p>
  </header>

  {{{ contents }}}

  <footer>
    <p>Generated with {{ generator }} &mdash; <a href="{{ url }}">{{ url }}</a></p>
  </footer>

</body>
</html>
