<!doctype html>
<html lang="en">
<head>
  {{> meta}}
</head>
<body>
  <header>
    <p>
      <a href="/">Home</a>
    </p>

  </header>
  <h1>{{ title }}</h1>
  <time>{{ date }}</time>
  {{{ contents }}}

  {{> footer}}
</body>
</html>
